/* =============
    Base
============= */
 bfigure {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;

    li {
        list-style: none;
    }
}

.content {
    display: grid;
    grid-template-areas: 
        "header"
        "heading-1"
        "heading-2"
        "hero-2"
        "hero-3"
        "hero-4"
        "hero"
        "section-1"
        "section-2";

     .header {
        grid-template: header;
     }

     .heading-1 {
        grid-template: heading-1;
     }

     .heading-2 {
        grid-template: heading-2;
     }

     .hero-2 {
        grid-template: hero-2;
     }

     .hero-3 {
        grid-template: hero-3;
     }

     .hero-4 {
        grid-template: hero-4;
     }

     .hero {
        grid-template: hero;
     }

     .section-1 {
        grid-template: section-1;
     }

     .section-2 {
        grid-template: section-2;
     }

     



    margin-bottom: 24px;

    @include md {
        margin-bottom: 32px;
    }

    @include lg {
        margin-bottom: 32px;
    }


    @include xl {
        margin-bottom: 64px;
    }
}