/* =============
    heading-1
============= */

#heading-1 {
	display: grid;
        grid-template-columns: 16px auto 16px;
		grid-template-areas: ". heading-1 .";
        background-color: $white;


        @include xl{

            grid-template-columns: auto 1000px auto;
        }

        >div{
            grid-area: heading-1;
                padding-top: 12px;
                padding-bottom: 12px;
            @include md{
                padding-top: 16px;
                padding-bottom: 16px;
            }
            @include lg{

                padding-top: 16px;
                padding-bottom: 16px;
            }
            @include xl{
                padding-top: 16px;
                padding-bottom: 16px;
            }


            form{
                text-align: left;
                border-color: none;
            }

            input{ 
                background-color: $white;
                border: none;
                color: #1D322B;
                font-size: rem-calc(20);
                font-family: 'Work Sans';
                font-weight: 300;
                @include md{

                    // 16px + 1m
                    // 1em = 1 rem
                    font-size: rem-calc(20);
                    
                }
                @include lg{

                    // 16px + 1m
                    // 1em = 1 rem
                    font-size: rem-calc(25);
                }
                @include xl{

                    // 16px + 1m
                    // 1em = 1 rem
                    font-size: rem-calc(30);
                }




            }

            button{

                &:hover, &:active{
                    color: #C38583;
                }
                background-color: $christmas;
                color: $vanilla;
                border: none;
                border-radius: 5px;
                padding: 6px 8px;

                @include md{

                   size: 14px;
                }
                @include lg{
                 font-size: rem-calc(25);
                }
                
            }
        }
	}