/* =============
    heading-1
============= */

#heading-1 {
	display: grid;
        grid-template-columns: 16px auto 16px;
		grid-template-areas: ". heading-1 .";
        background-color: $white;


        @include xl{

            grid-template-columns: auto 1000px auto;
        }

        >div{
            grid-area: heading-1;


            form{
                border-color: none;
            }

            input{ 
                background-color: $white;
                border: none;
                color: #1D322B;
                font-size: rem-calc(14);
                @include md{

                    // 16px + 1m
                    // 1em = 1 rem
                    font-size: rem-calc(30);
                }
                @include lg{

                    // 16px + 1m
                    // 1em = 1 rem
                    font-size: rem-calc(35);
                }
                @include xl{

                    // 16px + 1m
                    // 1em = 1 rem
                    font-size: rem-calc(35);
                }




            }

            button{

                background-color: $christmas;
                color: $vanilla;
                border: none;
            }
        }
	}