/* =============
    hero
============= */

#hero {

    

    #hero-img{
        background-image: url("../img/hero/hero3.jpg");
        background-position: center;
        background-size: cover;
        height: 252px;
        width: 100%;
    
        @include md {
            height: 500px;
    
        }
    
        @include lg {
            height: 630px;
    
        }
    
        @include xl {
            height: 100vh;
    
        }
    }





    ul {


        @include md {
            display: grid;
            grid-template-columns: 40% auto;
            grid-template-areas: "hero1 hero2"
        }

        @include lg {
            display: grid;
            grid-template-columns: 50% auto;
            grid-template-areas: "hero1 hero2"
        }

        li {
            
            display: grid;
            grid-template-columns: 16px auto 16px;
            grid-template-areas: ". hero-content .";



            @include xl {
                grid-template-columns: auto 480px 16px;
            }

            a {
                grid-area: hero-content;
            }

        }

        #hero1 {
            

            &:hover, &:active{
                background-color: $spring;
                color: $darkpink;
                transition: 0.25s;
            }
            background-color: $darkpink;
            h1 {
                color: $vanilla;
                font-weight: 300;
                font-size: 20px;
                font-family: 'Work Sans';
                font-weight: 300;
                padding-top: 12px;
                padding-bottom: 12px;

                @include md{

                    // 16px + 1m
                    // 1em = 1 rem
                    font-size: rem-calc(20);
                    padding-top: 16px;
                    padding-bottom: 6px;
                    
                }
                @include lg{

                    // 16px + 1m
                    // 1em = 1 rem
                    font-size: rem-calc(25);
                    padding-top: 16px;
                    padding-bottom: 6px;
                    
                }
                @include xl{

                    // 16px + 1m
                    // 1em = 1 rem
                    font-size: rem-calc(30);
                    padding-top: 16px;
                    padding-bottom: 6px;
                    
                }
            }

            h2 {
                color: $vanilla;
                font-size: 14px;
                font-family: 'Work Sans';
                font-weight: 400;
                padding-bottom: 6px;

                @include md{

                    // 16px + 1m
                    // 1em = 1 rem
                    font-size: rem-calc(16);
                    padding-bottom: 6px;
                    
                }
                @include lg{

                    // 16px + 1m
                    // 1em = 1 rem
                    font-size: rem-calc(20);
                    padding-bottom: 6px;
                }
                @include xl{

                    // 16px + 1m
                    // 1em = 1 rem
                    font-size: rem-calc(20);
                    padding-bottom: 6px;
                }
            }

            i { 

                @include sm{
   
                    display: list-item;
                   
                    
                 
                 }
                @include md{
       
                    display: list-item;
                
                 }

                 @include lg{
   
                    display: none;
                   
                    
                 
                 }
                @include xl{
       
                    display: none;
                    
                    
                 
                 }
                color: $vanilla;
                &:hover, &:active{
                    color: #C38583;
                }
            }
        }

        #hero2 {
           
            &:hover, &:active{
                background-color: $darkpink;
                color: $spring;
                transition: 0.25s;
            }
            background-color: $lightpink;


            @include xl {
                display: grid;
                grid-template-columns: 16px 480px auto;
            }

            h1 { display: flex;
                color: $vanilla;
                font-weight: 300;
                font-size: 20px;
                font-family: 'Work Sans';
                font-weight: 300;
                padding-top: 12px;
                padding-bottom: 12px;

                @include md{

                    // 16px + 1m
                    // 1em = 1 rem
                    font-size: rem-calc(20);
                    padding-top: 16px;
                    padding-bottom: 6px;
                    
                }
                @include lg{

                    // 16px + 1m
                    // 1em = 1 rem
                    font-size: rem-calc(25);
                    padding-top: 16px;
                    padding-bottom: 6px;
                    
                }
                @include xl{

                    // 16px + 1m
                    // 1em = 1 rem
                    font-size: rem-calc(30);
                    padding-top: 16px;
                    padding-bottom: 6px;
                    
                }
                        }

            h2 {
                display: flex;
                color: $vanilla;
                font-size: 14px;
                font-family: 'Work Sans';
                font-weight: 400;
                padding-bottom: 6px;

                @include md{

                    // 16px + 1m
                    // 1em = 1 rem
                    font-size: rem-calc(16);
                    padding-bottom: 6px;
                    
                }
                @include lg{

                    // 16px + 1m
                    // 1em = 1 rem
                    font-size: rem-calc(20);
                    padding-bottom: 6px;
                }
                @include xl{

                    // 16px + 1m
                    // 1em = 1 rem
                    font-size: rem-calc(20);
                    padding-bottom: 6px;
                }
            }

           

            i { display: flex;
                @include sm{

            display: list-item;
               
                
             
             }
            @include md{
   
                display: list-item;
            
             }

             @include lg{

                display: none;
               
                
             
             }
            @include xl{
   
                display: none;
                
                
             
             }
                align-items: center;
                margin-right: auto;
                color: $vanilla;
                &:hover, &:active{
                    color: #C38583;
                }
            }
                
            }
        
         
        button {
            display: none;
            font-size: 14px;
            font-family: 'Work Sans';
            font-weight: 400;
            margin-left: 63%;
            transition: 0.25s;
            margin-top: 16px;
            margin-bottom: 32px;
            margin-left: 63%;
            border-radius: 5px;
            padding: 3px 6px;
            background-color: $christmas;
            border: none;
            color: $vanilla;
            &:hover, &:active{
                color: #C38583;
            }

            @include lg{
   
                display: list-item;
               
                
             
             }
            @include xl{
   
                display: list-item;
                
                
             
             }
            
        }




    }


}

