/* =============
    section-1
============= */

#section-1{
    @include md{
        display: grid;
        grid-template-columns: 16px auto 16px;
        grid-template-areas: ". section-1 .";
    }

    @include xl{
        grid-template-columns: auto 1000px auto;
    }


    ul{
        display: grid;
        gap: 16px;

        @include md{
            grid-template-columns: 50% auto;
            gap: 24px;
            grid-area: section-1;
        }


        li{
        display: grid;
        grid-template-columns: 16px auto 16px;
        grid-template-areas: ". section-1-content .";
        background-color: $garden;
        

         >div{
             grid-area: section-1-content;   
            
             section{

             }

             aside{
                 div{
              

        background-position: center;
        border: 4px $white solid;
        height: 85px;
        width: 85px;
        border-radius: 100%;
        image-orientation: right;
                 }
    
                  
                            
        #planning-left{

            background: url("../img/veggies/veggiess2.jpg");
            background-size: cover;
            
        }

        #planning-right{
            
            background: url("../img/wholesale/Berries.jpg");
            background-size: cover;
        }
    }
                        
                }

        
            }
        }
    
        

        button{

            background-color: $christmas;
            border: none;
            color: $vanilla;
        
                }
        
                h1{
                    color: $vanilla;
                    font-weight: 400;
                    font-size: 30px;
                }
}





