/* =============
    Buttons
============= */
button {
    cursor: pointer;
    font-display: $vanilla;
}

.blue-button {
    background-color: $electricYellow;
    border: none;
    font-size: rem-calc(16);
    font-weight: 600;
    padding: 10px;
    transition: 0.25s;

}