/* =============
    Header
============= */
header {
	display: grid;
        grid-template-columns: 16px auto 16px;
		grid-template-areas: ". header .";
        background-color: $forest;
        >div{
            grid-area: header;
            img{
                width: 130px;
                height: 77px;
            }
                }
 section{
     
    h1{
        color: $vanilla;
        font-weight: 200;
        font-size: rem-calc(14);
        @include md{

            // 16px + 1m
            // 1em = 1 rem
            font-size: rem-calc(30);
        }
        @include lg{

            // 16px + 1m
            // 1em = 1 rem
            font-size: rem-calc(35);
        }
        @include xl{

            // 16px + 1m
            // 1em = 1 rem
            font-size: rem-calc(35);
        }
        


    }

    h2{
        color: $vanilla;
        font-weight: 500;
        font-size: rem-calc(14);
        @include md{

            // 16px + 1m
            // 1em = 1 rem
            font-size: rem-calc(30);
        }
        @include lg{

            // 16px + 1m
            // 1em = 1 rem
            font-size: rem-calc(35);
        }
        @include xl{

            // 16px + 1m
            // 1em = 1 rem
            font-size: rem-calc(35);
        }
        
        
    }
	}
}