/* =============
    Header
============= */
header {
    position: fixed;
    left: 0;
    background-color: $forest;
    top: 0;
    width: 100%;
    height: 100px;

    >div {

        display: grid;
        grid-template-areas:
            "burger-icon online"
            "nav nav";
        grid-template-columns: 20% auto;

        @include lg {
            grid-template-areas: "nav online";
            grid-template-columns: 20% auto;
        }

        #button-container {
            grid-area: online;
            display: flex-end;
            text-align: right;
            padding-top: 20px;
            padding-bottom: 20px;
            padding-right: 20px;


            button {
                padding-bottom: 16px;
                font-size: 14px;
                font-family: 'Work Sans';
                font-weight: 400;

                border-radius: 5px;
                padding: 3px 6px;
                background-color: $christmas;
                border: none;
                color: $vanilla;

                &:hover,
                &:active {
                    color: #C38583;
                }

            }

        }


        #burger-container {
            
            grid-area: burger-icon;
            padding: 16px 0 0 16px;

            #burger-icon {
                color: $vanilla;
                cursor: pointer;
                font-size: rem-calc(30);

                &:hover,
                &:active {
                    color: #C38583;
                }
            }

            @include lg{
                display: none;
            }
        }

        #nav-container {
            
            display: none;
            background-color: $forest;
            grid-area: nav;
            padding: 20px 10px 10px;

            @include lg {
                background-color: $forest;
                display: block !important;

            }

        }
    }

}